body {
    margin: 0;
}

#n,#s,#a{
    height: 1000px;
}

#h{
    background: gainsboro;
    width: 100%;
    height: 100px;
}

#h_sub{
    width: 100%;
    height: 200px;
}

#n{
    background: whitesmoke;
    width: 15%;
    float: left;
}

#s{
    background: burlywood;
    width: 70%;
    float: left;
    overflow: auto;
}

#a{
    background: whitesmoke;
    width: 15%;
    float: left;
}

#f{
    background: gainsboro;
    width: 100%;
    height: 15%;
    clear: both;
}