body {
	margin: 0;
	padding-left: 10%;
	padding-right: 10%;
	background-color:gainsboro ;
	
}

#s,
#a {
	height: 1000px;
}

#s {
	background: burlywood;
	width: 85%;
	float: left;
	overflow: auto;
}

#a {
	background: whitesmoke;
	width: 15%;
	float: left;
}

#f {
	background: gainsboro;
	width: 100%;
	height: 15%;
	clear: both;
}
